html {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #bea586;
  background-image: url("../images/icon.png");
  background-size: 192px;
  background-position: left top;
  background-repeat: repeat;
  margin: 0;
}

main {
  background-color: #fff;
}

a {
  color: #2e1b13;
  text-decoration: none;
}

.embed-2by1, .embed--2by1 {
  padding-top: 50%;
}

h1, h2, h3 {
  font-family: 'Dancing Script', cursive;
}

header {
  background-color: #630;
  border-bottom: 3px solid #8e4a32;
  border-top: 3px solid #8e4a32;
}

.nav {
  color: #fff;
  text-decoration: none;
  border: 0;
}

.nav-black {
  text-decoration: none;
  border: 0;
}

.footer {
  background-color: #fff;
  border-bottom: 3px solid #8e4a32;
  border-top: 3px solid #8e4a32;
}

.search-input {
  border-color: #84452f;
  background-image: url("../images/spy-glass.svg");
  background-repeat: no-repeat;
  background-position: .2em center;
  background-size: 1.2em auto;
  padding-left: 1.5em;
}

.search-btn {
  background-image: linear-gradient(to bottom, #794431, #8e4a32);
  border-color: #794431;
}

figcaption {
  color: #fff;
  font-weight: 400;
}

.card {
  background-color: #8e4a32;
  padding: .5em;
  border: 0;
}

.card:hover {
  background-color: #630;
  color: #fff;
}

.btn {
  border: 0;
  background-color: #fff;
  margin: 0;
}

.card:hover .btn {
  background-color: black;
  color: #fff;
}

@media only screen and (min-width: 60em) {

  .search-label {
    text-align: right;
  }

}
